$turquoise: #14a998;
$light-beige: #fffbf4;
$light-brown: #f1e8d9;
$brown: #d7c094;
$orange: #ce822f;
$beige: #d7c094;
$black: #222222;

$light-header-bg: #fff;
$dark-header-bg: #333;
$primary-color: #000;
$secondary-color: #fff;

$font-size-base: 16px;
$font-size-lg: 18px;

